<h1>Bienvenido <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  Tu cuenta ha sido creada. Tu contrase침a para tu primer inicio de sesi칩n es:
  <%= @pass %>.
</p>

<p>
  Le invitamos a iniciar sesi칩n por primera vez para poder cambiar su contrase침a
</p>
